body{
    background-color : white;
    text-align: center;
}
h1{
    color : darkred;
}
p{
    color : gray;
}

h2{
    color : darkred;
}
img{
    border-radius: 100%;
    background-color : aqua;
}